*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #0d100e;
    color: #fdfdf9;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
    overflow: hidden;
}

.button-container {
    --filament: #8b451333;
    --filament-grow: #fdfdf9;
    --glow: #ff9f70;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    width: 100%;
    height: 100%;
}

.area {
    z-index: 1;
}

.area:nth-child(1):hover~.button::before {
    transform: translate(0%, 0);
}

.area:nth-child(2):hover~.button::before {
    transform: translate(-25%, 0);
}

.area:nth-child(3):hover~.button::before {
    transform: translate(-50%, 0);
}

.area:nth-child(4):hover~.button::before {
    transform: translate(-75%, 0);
}

.area:nth-child(5):hover~.button::before {
    transform: translate(-100%, 0);
}

.area:nth-child(6):hover~.button::before {
    transform: translate(0%, -50%);
}

.area:nth-child(7):hover~.button::before {
    transform: translate(-25%, -50%);
}

.area:nth-child(8):hover~.button::before {
    transform: translate(-50%, -50%);
}

.area:nth-child(9):hover~.button::before {
    transform: translate(-75%, -50%);
}

.area:nth-child(10):hover~.button::before {
    transform: translate(-100%, -50%);
}

.area:nth-child(11):hover~.button::before {
    transform: translate(0%, -100%);
}

.area:nth-child(12):hover~.button::before {
    transform: translate(-25%, -100%);
}

.area:nth-child(13):hover~.button::before {
    transform: translate(-50%, -100%);
}

.area:nth-child(14):hover~.button::before {
    transform: translate(-75%, -100%);
}

.area:nth-child(15):hover~.button::before {
    transform: translate(-100%, -100%);
}

.button {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 215px;
    height: 60px;
    border: none;
    outline: none;
    background: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.button::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: #ff9f7080;
    filter: blur(50px);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    z-index: -4;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
}

.button:hover .base,
.button:focus .base {
    box-shadow:
        inset 5px -5px 10px 0 #000000cc,
        inset 1px -10px 15px 1px #ffffff66;
}

.button:hover .filament-glow path,
.button:focus .filament-glow path {
    animation: drawLine 1s ease-in-out forwards;
}

.button:hover .filament-glow stop[offset="0%"],
.button:hover .filament-glow stop[offset="100%"],
.button:focus .filament-glow stop[offset="0%"],
.button:focus .filament-glow stop[offset="100%"] {
    animation: light-on 0.2s forwards;
}

.button:hover .text,
.button:focus .text {
    text-shadow: 0 0 5px var(--glow);
}

.button:hover .glow {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.button:hover .text>span {
    animation: slide-scroll 0.5s calc(var(--i) * 0.02s) ease;
}

.button:not(:hover):not(:focus) .filament-glow path {
    stroke-dashoffset: 0;
}

.button:not(:hover):not(:focus) .filament-glow stop[offset="0%"],
.button:not(:hover):not(:focus) .filament-glow stop[offset="100%"] {
    animation: light-off 0.2s forwards;
}

.button:focus .filament-glow path {
    animation:
        flash 2.1s linear 3 forwards,
        fix-light 1s 7.2s ease-in-out forwards;
}

.button:focus .filament-glow stop[offset="0%"],
.button:focus .filament-glow stop[offset="100%"] {
    animation: light-flash 2.1s linear 3 forwards;
}

.button:focus .glow {
    animation:
        glow-flash 2.1s linear 3 forwards,
        glow-off 0.1s 6.3s ease-in-out forwards,
        glow-on 1s 7.2s ease-in-out forwards;
}

.button:focus .lightning-marquee {
    animation: glow-flash 2.1s linear 3 forwards;
}

.button:focus .text span {
    animation:
        text-depart 0.3s calc(var(--i) * 0.03s) ease forwards,
        text-return 0.3s calc((9 - var(--i)) * 0.03s + 4.2s) ease forwards,
        slide-scroll 0.5s calc(var(--i) * 0.02s + 7.7s) ease forwards;
}

.button:focus~.bulb-wrapper {
    animation:
        bounce 0.7s 0.2s linear forwards,
        move 0.5s 1.8s ease-in-out forwards,
        rotation 0.5s 3s ease-in-out forwards,
        returning 0.5s 4.2s ease-in-out forwards;
}

.button:focus~.bulb-wrapper .select {
    animation:
        show 0.1s 0.9s forwards,
        select 0.5s 0.9s linear forwards,
        hide 0.1s 1.6s forwards,
        show 0.1s 2.5s forwards,
        rotate-trigger 0.2s 2.6s ease-in-out forwards,
        hide 0.1s 2.8s forwards,
        rotate-cursor 0.5s 3s ease-in-out forwards,
        show 0.1s 3.7s forwards,
        return-trigger 0.2s 3.8s ease-in-out forwards,
        hide 0.1s 4s forwards,
        show 0.1s 4.8s forwards,
        fix-trigger 0.5s 4.9s ease-in-out forwards,
        hide 0.1s 5.4s forwards,
        fix2-trigger 0.2s 5.8s ease-in-out forwards,
        show 0.1s 6.4s forwards,
        back-trigger 0.2s 6.5s ease-in-out forwards,
        hide 0.1s 6.8s forwards;
}

.button:focus~.bulb-wrapper .move {
    animation:
        select 0.5s 0.9s linear forwards,
        show 0.1s 1.7s forwards,
        hide 0.1s 2.4s forwards,
        show 0.1s 4.1s forwards,
        hide 0.1s 4.7s forwards;
}

.button:focus~.bulb-wrapper .rotate {
    animation:
        select 0.5s 0.9s linear forwards,
        rotate-trigger 0.2s 2.6s ease-in-out forwards,
        show 0.1s 2.9s forwards,
        rotate-cursor 0.5s 3s ease-in-out forwards,
        hide 0.1s 3.6s forwards;
}

.button:focus~.bulb-wrapper .hammer {
    animation:
        fix-trigger 0.5s 4.9s ease-in-out forwards,
        hammer-set 0.1s 5.4s ease-in-out forwards,
        show 0.1s 5.5s forwards,
        fixing-trigger 0.2s 5.6s ease-in-out forwards,
        fix2-trigger 0.2s 5.8s ease-in-out forwards,
        fixing-trigger 0.2s 6s ease-in-out forwards,
        hide 0.1s 6.3s forwards;
}

.button:focus~.bulb-wrapper .lightbulb-off {
    animation:
        fixing-trigger 0.2s 6s ease-in-out forwards,
        back-trigger 0.2s 6.5s ease-in-out forwards,
        show 0.1s 6.9s forwards,
        squat-trigger 0.2s 7s ease-in-out forwards,
        hide 0.1s 7.2s forwards;
}

.button:focus~.bulb-wrapper .lightbulb-on {
    animation:
        back-trigger 0.2s 6.5s ease-in-out forwards,
        squat-trigger 0.2s 7s ease-in-out forwards,
        show 0.1s 7.3s forwards,
        jump-trigger 0.5s 7.4s ease-in-out forwards,
        out-trigger 0.5s 8s forwards;
}

.button:focus~.bulb-wrapper::before {
    animation:
        show 0.1s 1.5s forwards,
        hide 0.1s 5.05s forwards;
}

.button:focus~.bulb-wrapper .bulb::before {
    animation:
        under-shadow 0.1s 0.41s ease-in-out forwards,
        up-shadow 0.5s 3s ease-in-out forwards;
}

.button:focus~.bulb-wrapper .bulb::after {
    animation:
        under-shadow2 0.1s 0.41s ease-in-out forwards,
        up-shadow2 0.5s 3s ease-in-out forwards;
}

.base {
    position: relative;
    width: 65px;
    height: 60px;
    background-color: #101522;
    border-radius: 40px 2px 2px 40px;
    box-shadow:
        inset 0 -5px 10px 0 #000000cc,
        inset 1px -10px 15px 1px #ffffff66;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.base::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    width: 65px;
    height: 25px;
    background: linear-gradient(#fff, #e8edf7);
    border-radius: 30px;
    filter: blur(10px);
    opacity: 0.7;
}

.base::after {
    content: "";
    position: absolute;
    right: 2px;
    width: 2px;
    height: 60px;
    background: linear-gradient(transparent 0%, #fff 30%, transparent 90%);
    filter: blur(1px);
}

.filament {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    z-index: -1;
}

.filament-glow path {
    stroke: url(#strokeGradient);
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
}

.glow {
    position: absolute;
    top: 50%;
    left: 65px;
    width: 35px;
    height: 40px;
    background-color: #ffe7a0;
    filter: blur(5px);
    border-radius: 0 50% 50% 0;
    z-index: -2;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.2s ease-out;
}

.glow::before {
    content: "";
    display: block;
    width: 150px;
    height: 60px;
    background: radial-gradient(circle at 0 50%, var(--glow) 40%, #ff9d0000);
    filter: blur(20px);
    border-radius: 5px 40px 40px 5px;
    z-index: -3;
    transform: translateY(-10px);
}

.glow::after {
    content: "";
    display: block;
    width: 60px;
    height: 40px;
    border: 3px solid orange;
    border-right: none;
    border-radius: 40%;
    transition: all 0.2s ease-in-out;
    transform: translate(-10px, -65px);
}

.lightning-marquee {
    display: flex;
    width: 150px;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
    overflow: hidden;
    border-radius: 5px 40px 40px 5px;
    opacity: 0;
}

.lightning-marquee>div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0.3;
    animation: marquee 1s linear infinite;
}

.lightning-marquee div> :nth-child(1) {
    animation: lightning-rotate-1 0.2s linear infinite;
}

.lightning-marquee div> :nth-child(2) {
    animation: lightning-rotate-2 0.2s linear infinite;
}

.lightning-marquee div> :nth-child(3) {
    animation: lightning-rotate-3 0.2s linear infinite;
}

.lightning-marquee div> :nth-child(4) {
    animation: lightning-rotate-4 0.2s linear infinite;
}

.lightning-marquee div> :nth-child(5) {
    animation: lightning-rotate-5 0.2s linear infinite;
}

.text {
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 95px;
    color: var(--filament-grow);
    text-wrap: nowrap;
    letter-spacing: -0.1rem;
    user-select: none;
    transform: translateY(-50%);
}

.text span {
    display: inline-block;
    animation: slide-down 0.5s calc(var(--i) * 0.02s) ease;
}

.text span:nth-of-type(3) {
    margin-right: 0.4em;
}

.bulb-wrapper {
    position: absolute;
    top: 50%;
    left: calc(50% + 32.5px);
    width: 150px;
    height: 60px;
    pointer-events: none;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.bulb-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.1rem solid dodgerblue;
    visibility: hidden;
}

.bulb {
    position: relative;
    width: 150px;
    height: 60px;
    box-shadow:
        inset 0 1px 3px 0 #ffffff55,
        inset -1px -3px 5px 0 #ffffff55;
    border-radius: 5px 40px 40px 5px;
    overflow: hidden;
}

.bulb::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 150px;
    height: 30px;
    background: linear-gradient(#fff, #ffffff22 80%);
    border-radius: 30px;
    box-shadow: 0 0 5px 10px #ffffff22;
    filter: blur(2px);
    opacity: 0.7;
}

.bulb::after {
    content: "";
    position: absolute;
    top: 15px;
    left: -10px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    box-shadow: -1px 2px 2px 2px #ffffff44;
    filter: blur(2px);
    opacity: 0.7;
}

.cursor {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.select {
    transform: scaleX(-1);
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes light-on {
    from {
        stop-color: var(--filament);
    }

    to {
        stop-color: var(--filament-grow);
    }
}

@keyframes light-off {
    from {
        stop-color: var(--filament-grow);
    }

    to {
        stop-color: var(--filament);
    }
}

@keyframes flash {

    0%,
    20%,
    40%,
    100% {
        stroke-dashoffset: 500;
    }

    10%,
    30%,
    70% {
        stroke-dashoffset: 0;
    }
}

@keyframes fix-light {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes light-flash {

    0%,
    20%,
    40%,
    100% {
        stop-color: var(--filament-grow);
    }

    10%,
    30%,
    70% {
        stop-color: var(--filament);
    }
}

@keyframes glow-flash {

    0%,
    20%,
    40%,
    100% {
        opacity: 1;
    }

    5%,
    15%,
    25%,
    35%,
    50%,
    90% {
        opacity: 0;
    }
}

@keyframes glow-on {
    to {
        opacity: 1;
    }
}

@keyframes glow-off {
    to {
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
    }

    10% {
        top: 50%;
        left: 50%;
        transform: translate(50%, -40%) rotate(5deg);
    }

    30% {
        top: 60%;
        left: 100%;
        transform: translate(-100%, -50%) rotate(30deg);
    }

    50% {
        top: calc(100% - 40px);
        left: 70%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    70% {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-200deg);
    }

    80% {
        top: calc(100% - 40px);
        left: 40%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    100% {
        top: calc(100% - 40px);
        left: 30%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}

@keyframes show {
    to {
        visibility: visible;
    }
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}

@keyframes select {
    from {
        top: 500%;
        left: -500%;
        transform: translateX(-50%) rotate(90deg);
    }

    to {
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
}

@keyframes move {
    from {
        top: calc(100% - 40px);
        left: 30%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    to {
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}

@keyframes rotate-trigger {
    from {
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }

    to {
        top: 100%;
        left: 0;
        transform: translate(-75%, -75%) rotate(90deg);
    }
}

@keyframes rotation {
    from {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(0);
    }
}

@keyframes rotate-cursor {
    from {
        transform: translate(-75%, -75%) rotate(90deg);
    }

    to {
        transform: translate(-75%, -75%) rotate(-90deg);
    }
}

@keyframes return-trigger {
    from {
        top: 100%;
        left: 0;
    }

    to {
        top: 50%;
        left: 50%;
    }
}

@keyframes returning {
    from {
        top: 50%;
        left: 80%;
    }

    to {
        top: 50%;
        left: calc(50% + 32.5px);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes lightning-rotate-1 {
    to {
        transform: rotate(10deg);
    }
}

@keyframes lightning-rotate-2 {
    to {
        transform: rotate(-5deg);
    }
}

@keyframes lightning-rotate-3 {
    to {
        transform: rotate(15deg);
    }
}

@keyframes lightning-rotate-4 {
    to {
        transform: rotate(-10deg);
    }
}

@keyframes lightning-rotate-5 {
    to {
        transform: rotate(5deg);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-scroll {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text-depart {
    to {
        transform: translateY(-300%);
        opacity: 0;
    }
}

@keyframes text-return {
    from {
        transform: translateY(300%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fix-trigger {
    from {
        top: 50%;
        left: 50%;
    }

    to {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -10%);
    }
}

@keyframes fix2-trigger {
    from {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -10%);
    }

    to {
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
    }
}

@keyframes back-trigger {
    from {
        top: 50%;
        left: 100%;
    }

    to {
        top: 50%;
        left: 50%;
    }
}

@keyframes hammer-set {
    to {
        transform: translate(-50%, -10%) rotate(40deg);
    }
}

@keyframes fixing-trigger {

    0%,
    100% {
        transform: translate(-50%, -10%) rotate(40deg);
    }

    50% {
        transform: translate(-50%, -10%) rotate(0deg);
    }
}

@keyframes squat-trigger {
    from {
        transform: translate(-50%, -50%) scaleY(1);
    }

    to {
        transform: translate(-50%, -40%) scaleY(0.8);
    }
}

@keyframes jump-trigger {
    0% {
        transform: translate(-50%, -40%) scaleY(0.8);
    }

    50% {
        transform: translate(-50%, -100%) scaleY(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scaleY(1);
    }
}

@keyframes out-trigger {
    to {
        transform: translate(500%, -50%);
    }
}

@keyframes under-shadow {
    to {
        box-shadow: 0 0 5px 10px #ffffff44;
    }
}

@keyframes up-shadow {
    to {
        box-shadow: 0 0 5px 10px #ffffff11;
    }
}

@keyframes under-shadow2 {
    to {
        box-shadow: -1px 2px 2px 2px #ffffff66;
    }
}

@keyframes up-shadow2 {
    to {
        box-shadow: -1px 2px 2px 2px #ffffff22;
    }
}